.product-list {
    background-color: #1ca398;
  }
  
  .product {
    border-bottom: 1px solid #eee;
    padding: 1vh 0;
    display: flex;
    align-items: center;
  }
  
  .product:last-child {
    border-bottom: none;
  }
  
  .product img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
  }
  
  button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 1vh 1.5vw;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #0056b3;
  }